@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:host {
    display: block;
    min-height: 100vh;
    background-color: #ebebeb;
}

.contact-form {
    position: absolute;
    display: flex;
    border: solid 0px;
    width: 30%;
    margin-left: 45%;
    margin-top: 5%;
    padding: 40px;
    height: 430px;
    border-radius: 30px;
    z-index: 1;
    background-color: #6cdbb9;
    box-shadow: 5px 0px 5px rgba(36, 105, 73, 0.3);
    padding-top: 0px;

}

.contact-form label {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: bolder;
    color: #02542d;
    margin-top: 17%;
    margin-left: 25%;
}

.contact-form input {
    margin-top: 5%;
    border: solid 0px;
    width: 200%;
    padding: 10px;
    border-radius: 5px;
    margin-left: 30%;
}

.contact-form input:focus {
    outline: none;
    border-color: #3e7b69;
    box-shadow: 0 0 0 3px rgba(62, 123, 105, 0.2);
}

.contact-form span {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: bolder;
    color: #034626;
    margin-top: 10px;
}

.contact-form textarea {
    margin-top: 5%;
    margin-left: 30%;
    width: 200%;
    border-radius: 5px;
    padding: 10px;
    resize: none;
    border: solid 0px;
}

.contact-form .field {
    position: relative;
    margin-bottom: 28px;
}

.validators-message {
    position: absolute;
    left: 30%;
    bottom: -20px;
    color: red;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    line-height: 16px;
}

.contact-form text:focus {
    outline: none;
    border-color: #3e7b69;
    box-shadow: 0 0 0 3px rgba(62, 123, 105, 0.2);
}

.submit-class {
    margin-top: 40px;
    margin-left: 75%;
    width: 50%;
}

.submit-class button {
    border: solid 0px;
    padding: 10px;
    width: 240%;
    border-radius: 10px;
    background-color: #287c55;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: white;
    font-size: 16px;
    margin-left: 3%;
}

.submit-class button:hover {
    transition: background 0.3s ease;
    background: #185b3e;
    cursor: pointer;
}

.seperator-class {
    position: absolute;
    z-index: 2;
    border: solid 0px;
    width: 10%;
    height: 470px;
    margin-left: 37%;
    margin-top: 5%;
    background-color: #478f79;
    box-shadow: 5px 0px 5px rgba(36, 105, 73, 0.3);

}

.logo-class {
    position: absolute;
    z-index: 3;
    border: solid 0px;
    width: 20%;
    height: 470px;
    margin-left: 20%;
    margin-top: 5%;
    background-color: #478f79; 
    border-radius: 20px;
    box-shadow: -5px 0px 5px rgba(36, 105, 73, 0.3);

}

.logo-class h1 {
    text-align: center;
    color: white;
    margin-left: 40%;
    margin-top: 20%;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

.image-class img {
    margin-top: 1%;
    width: 80%;
    margin-left: 30%;
}