@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:host {
    display: block;
    min-height: 100vh;
    background-color: #ebebeb;
}

.contact-form {
    position: absolute;
    display: flex;
    border: solid 0px;
    width: 30%;
    margin-left: 45%;
    margin-top: 5%;
    padding: 40px;
    height: 430px;
    border-radius: 30px;
    z-index: 1;
    background-color: #6cdbb9;
    box-shadow: 5px 0px 5px rgba(36, 105, 73, 0.3);
    padding-top: 0px;

}

.contact-form label {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: bolder;
    color: #02542d;
    margin-top: 17%;
    margin-left: 25%;
}

.contact-form input {
    margin-top: 5%;
    border: solid 0px;
    width: 200%;
    padding: 10px;
    border-radius: 5px;
    margin-left: 30%;
}

.contact-form input:focus {
    outline: none;
    border-color: #3e7b69;
    box-shadow: 0 0 0 3px rgba(62, 123, 105, 0.2);
}

.contact-form span {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: bolder;
    color: #034626;
    margin-top: 10px;
}

.contact-form textarea {
    margin-top: 5%;
    margin-left: 30%;
    width: 200%;
    border-radius: 5px;
    padding: 10px;
    resize: none;
    border: solid 0px;
}

.contact-form .field {
    position: relative;
    margin-bottom: 28px;
}

.validators-message {
    position: absolute;
    left: 30%;
    bottom: -20px;
    color: red;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    line-height: 16px;
}

.contact-form text:focus {
    outline: none;
    border-color: #3e7b69;
    box-shadow: 0 0 0 3px rgba(62, 123, 105, 0.2);
}

.submit-class {
    margin-top: 40px;
    margin-left: 75%;
    width: 50%;
}

.submit-class button {
    border: solid 0px;
    padding: 10px;
    width: 240%;
    border-radius: 10px;
    background-color: #287c55;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: white;
    font-size: 16px;
    margin-left: 3%;
}

.submit-class button:hover {
    transition: background 0.3s ease;
    background: #185b3e;
    cursor: pointer;
}

// button loading state
.submit-class button:disabled,
.submit-class button[disabled] {
    background: #9aaea0;
    cursor: not-allowed;
    opacity: 0.7;
    color: #f1f4f2;
    box-shadow: none;
}

.submit-class button:disabled:hover,
.submit-class button[disabled]:hover {
    background: #9aaea0;
    cursor: not-allowed;
}

.seperator-class {
    position: absolute;
    z-index: 2;
    border: solid 0px;
    width: 10%;
    height: 470px;
    margin-left: 37%;
    margin-top: 5%;
    background-color: #478f79;
    box-shadow: 5px 0px 5px rgba(36, 105, 73, 0.3);

}

.logo-class {
    position: absolute;
    z-index: 3;
    border: solid 0px;
    width: 20%;
    height: 470px;
    margin-left: 20%;
    margin-top: 5%;
    background-color: #478f79; 
    border-radius: 20px;
    box-shadow: -5px 0px 5px rgba(36, 105, 73, 0.3);

}

.logo-class h1 {
    text-align: center;
    color: white;
    margin-left: 40%;
    margin-top: 20%;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

.image-class img {
    margin-top: 1%;
    width: 80%;
    margin-left: 30%;
}

// popup modal style
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background: #fff;
  padding: 25px;
  width: 320px;
  border-radius: 8px;
  text-align: center;
  animation: scaleIn 0.3s ease-in-out;

  h2 {
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 20px;
  }

  button {
    background: #28a745;
    color: #fff;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background: #218838;
    }
  }

  &.success {
    h2 {
      color: #28a745;
    }

    button {
      background: #28a745;
    }
  }

  &.warning {
    h2 {
      color: #ff9900;
    }

    button {
      background: #ff9900;
    }

    button:hover {
      background: #e88b00;
    }
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}