<app-nav-bar></app-nav-bar>

<div class="container">
    <div class="logo-class">
        <div class="header-class">
            <h1>Reach out anytime with your questions or feedback.</h1>
        </div>

        <div class="image-class">
            <img src="assets/customer-service.png">
        </div>
    </div>

    <div class="seperator-class">

    </div>

    <div class="contact-form">
        <form [formGroup]="contactForm" (ngSubmit)="contactValidation()">
            <div class="field">
                <div>
                    <label>Name </label>
                </div>
                <input type="text" formControlName="name" placeholder="Enter name...">
                    @if (nameControl?.touched) {
                        @if(nameControl?.errors?.['required']) {
                            <div>
                               <p class="validators-message">Input name</p> 
                            </div>
                        }
                    }
            </div>
            <div class="field">
                <div>
                    <label>Email </label>
                </div>
                <input type="text" formControlName="email" placeholder="Enter email...">
                    @if (emailControl?.touched) {
                        @if(emailControl?.errors?.['required']) {
                            <div>
                                <p class="validators-message">Input email</p> 
                            </div>
                            
                        }@else if (emailControl?.errors?.['email']) {
                            <div>
                                <span>Invalid Email Format</span>
                            </div>
                            
                        }
                    }
            </div>
            <div class="field">
                <div>
                    <label>Message </label>
                </div>
                <textarea rows="4" formControlName="message" placeholder="Enter message..."></textarea>
                    @if (messageControl?.touched) {
                        @if (messageControl?.errors?.['required']) {
                            <div>
                                <p class="validators-message">Add message</p>
                            </div>
                            
                        }
                    }
            </div>
            <div class="submit-class">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>

    @if (submitMessage) {
    <div [class]="isSubmitSuccess? 'success-message' : 'error-message'">
        {{ submitMessage }}
    </div>
    }
</div>