.app-layout {
  display: flex;
  height: 100vh;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  margin-left: 270px;
  transition: margin-left 0.3s ease;

  &.sidebar-collapsed {
    margin-left: 80px;
  }

  &.no-sidebar {
    margin-left: 0;
    overflow: hidden;
  }
}