// Must be first
@use '@angular/material' as mat;

// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin defines CSS variables used for styling Angular Material components
// according to the Material 3 design spec.
html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme.
  color-scheme: light;

  // Set default background, font, and text colors for the application using Angular Material's system-level CSS variables.
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}

// Global reset and layout
* {
    margin: 0;
    padding: 0;
}

app-root {
    display: block;
    min-height: 100vh;
}

html, body { 
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}