<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="push" opened [class.collapsed]="isCollapsed" class="sidebar">
        <button class="toggle-btn" (click)="toggleSidebar()">
            <span class="toggle-icon">☰</span>
        </button>
        
        <div class="side-bar-header">
            <img src="assets/image-logo.png" alt="Mindstack Logo" class="logo"/>
            <h1 class="title text-content">Mindstack</h1>
        </div>

        <ul class="menu">
            <li>
                <a routerLink="/app/dashboard" routerLinkActive="active">
                    <img src="assets/book-dashboard.png" 
                          alt="Dashboard icon" 
                          class="icon">
                    <span class="text-content">Dashboard</span>
                </a>
            </li>
            <li>
                <a routerLink="/app/study-sets" routerLinkActive="active">
                    <img src="assets/Edit.png" 
                          alt="Study Sets icon" 
                          class="icon">
                    <span class="text-content">Study Sets</span>
                </a>
            </li>
            <li>
                <a routerLink="/app/quizzes" routerLinkActive="active">
                    <img src="assets/Clipboard.png" 
                          alt="Quizzes icon" 
                          class="icon">
                    <span class="text-content">Quizzes</span>
                </a>
            </li>
            <li>
                <a routerLink="/app/community" routerLinkActive="active">
                    <img src="assets/Trello.png" 
                          alt="Community icon" 
                          class="icon">
                    <span class="text-content">Community</span>
                </a>
            </li>
            <li>
                <a routerLink="/app/notifications" routerLinkActive="active">
                    <img src="assets/bell.png" 
                          alt="Notification icon" 
                          class="icon">
                    <span class="text-content">Notification</span>
                </a>
            </li>
        </ul>

        <div class="sidebar-user">
            <div class="user-left">
                <div class="user-profile-initial">
                    <a routerLink="/app/user-profile"><img src="assets/Group.png"></a></div>

                <div class="user-info text-content">
                    <span class="user-name">{{ userName }}</span>
                    <span class="user-email">{{ userEmail }}</span>
                </div>
            </div>

            <button class="logout-btn text-content" (click)="onLogout()">
                <img src="assets/logout-icon.png" class="icon-btn" alt="Logout">
            </button>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>