@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:host {
    display: block;
    min-height: 100vh;
    background-color: #ebebeb;
}

.landing-page-class {
    margin-top: -1%;
}
.header-note {
    display: block;
    border: 0px solid;
    width: 40%;
    margin-left: 5%;
    margin-top: 10%;
}

.header-note h3 {
    color: #595959;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

.trademark-class {
    margin-top: 1%;
    margin-left: 14%;
}

.trademark-class p {
    font-size: 20px;
    color: #32835f;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}

.arrow-class {
    display: block;
    width: 20px;
    height: 20px;
}

.arrow-class img {
    width: 80px;
    height: 80px;
    transform: rotate(100deg);
    margin-top: 120px;
    margin-left: 20px;
}

.button-class {
    display: flex;
    margin-left: 12%;
    margin-top: 2%;
    gap: 110px;
}

.regis-button {
    z-index: 100;
    border: solid 0px;
    background: #269465;
    color: white;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 18px;
    width: 10%;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
}

.login-button {
    z-index: 100;
    border: solid 0px;
    background: #3fc28b;
    color: white;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 18px;
    width: 10%;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
}

.regis-button:hover {
    transition: background 0.3s ease;
    background: #185b3e
}

.login-button:hover {
    transition: background 0.3s ease;
    background: #297b59;
}


.favorite-class {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
}

.favorite-class img {
    width: 40px;
    height: 40px;
    margin-top: 425px;
    margin-left: 140px;
    transform: rotate(90deg);
}

.pencil-class {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
}

.pencil-class img {
    width: 40px;
    height: 40px;
    margin-top: 425px;
    margin-left: 570px;
    transform: rotate(20deg);
}

.kid-class-design {
    display: block;
    position: absolute;
    width: 100%;
    height: 80%;
}

.border-one-class {
    position: absolute;
    z-index: 1;
    border: 0px solid;
    width: 30%;
    height: 25%;
    margin-left: 65%;
    margin-top: 3%;
    border-radius: 10px;
    background-color: #45f8a4;
}

.border-two-class {
    position: absolute;
    z-index: 2;
    border: 0px solid;
    width: 20%;
    height: 25%;
    margin-left: 55%;
    margin-top: 15%;
    border-radius: 10px;
    background-color: #45f8a4;
}

.border-three-class {
    position: absolute;
    z-index: 3;
    border: 0px solid;
    width: 40%;
    height: 30%;
    margin-left: 55%;
    margin-top: 28%;
    border-radius: 10px;
    background-color: #45f8a4;   
}

.kid-picutre-class {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.kid-class-design img {
    display: block;
    position: absolute;
    z-index: 4;
    margin-left: 48%;
    margin-top:4%;
    width: 100vh;
}

.border-one-class img {
    position: absolute;
    z-index: 5;
    width: 100px;
    height: 100px;
    margin-left: 50%;
    transform: rotate(70deg);
}

.border-two-class img {
    position: absolute;
    margin-top: 10%;
    z-index: 5;
    width: 80px;
    height: 80px;
    margin-left: 30%;
    transform: rotate(190deg); 
}

.border-three-class img {
    position: absolute;
    margin-top: 5%;
    z-index: 5;
    width: 100px;
    height: 100px;
    margin-left: 80%;
    transform: rotate(20deg); 
}