@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: rgb(209, 255, 221);
}

h1 {
    position: absolute;
    display: block;
    margin-top: 5%;
    margin-left: 25%;
    font-family: "Poppins";
}

#main_div {
    font-family: "Poppins";
    position: absolute;
    margin-top: 10%;
    margin-left: 24%;
    border: none;
    border-radius: 15px;
    width: 50%;
    height: 60%;
    background-color: rgb(243, 241, 241);
}

#upper_nav {
    margin-left: 25px;
    margin-top: 25px;
    display: flex;
    align-items: center;
}

button {
    border: none;
    width: 90px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    margin-right: 15px;
    font-weight: 700;
    font-family: "Poppins";
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

button:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    transform: translateY(-1px);
}

.btn-icon {
    width: 16px;
    height: 16px;
}

h2 {
    position: absolute;
    display: block;
    margin-top: 25px;
    margin-left: 40px;
    font-family: "Poppins";
    font-weight: 600;
}

#notification_div {
    font-family: "Poppins";
    position: absolute;
    margin-top: 10%;
    margin-left: 5%;
    border: solid 2px black;
    width: 90%;
    height: 65%;
    border: none;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

h4 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-weight: 500;
}