<app-nav-bar></app-nav-bar>

<div class="container">
    <div class="logo-class">
        <div class="header-class">
            <h1>Join today and transform your notes into smarter study tools.</h1>
        </div>

        <div class="image-class">
            <img src="assets/register.png">
        </div>
    </div>

    <div class="seperator-class">

    </div>

    <div class="registration-form">
        <form [formGroup]="registrationForm" (ngSubmit)="register()">
            <div class="form-group">
                <label>Email</label>
                <input type="text" formControlName="email" placeholder="Email">
                <div class="validation-message">
                    @if (emailControl?.touched) {
                        @if (emailControl?.errors?.['required']) {
                            <span>Input Email</span>
                        }@else if(emailControl?.errors?.['email']) {
                            <span>Invalid Email</span>
                        }@else if (emailControl?.errors?.['maxlength']) {
                            <span>Email can only contain up to 50 characters</span>
                        }
                    }
                </div>
            </div>

            <div class="form-group">
                <label>Username</label>
                <input type="text" formControlName="username" placeholder="Username">
                <div class="validation-message">
                    @if (usernameControl?.touched) {
                        @if(usernameControl?.errors?.['required']) {
                            <span>Input Username</span>
                        }@else if (usernameControl?.errors?.['maxlength']) {
                            <span>Username can only contain up to 20 characters</span>
                        }
                    }
                </div>
            </div>

            <div class="form-group">
                <label>Password</label>
                <input type="password" formControlName="password" placeholder="Password">
                <div class="validation-message">
                    @if(passwordControl?.touched) {
                        @if(passwordControl?.errors?.['required']){
                            <span>Input password</span>
                        }@else if(passwordControl?.errors?.['minlength']) {
                            <span>Password must be at least 6 characters</span>
                        }
                    }
                </div>
            </div>

            <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" formControlName="confirmPassword" placeholder="Confirm password">
                <div class="validation-message">
                    @if (confirmPasswordControl?.touched) {
                        @if(confirmPasswordControl?.errors?.['required']) {
                            <span>Confirm your password</span>
                        }@else if(confirmPasswordControl?.value !== passwordControl?.value) {
                            <span>Password is not match</span>
                        }
                    }
                </div>
            </div>

            <div class="submit-class">
                <button
                  type="submit"
                  [disabled]="!isFormValid() || isLoading()"
                  [style.cursor]="isLoading() || !isFormValid() ? 'not-allowed' : 'pointer'"
                >
                  {{ isLoading() ? 'Registering...' : 'Register' }}
                </button>
            </div>
            <div class="cancel-button">
                <button type="reset">Cancel</button>
            </div>
        </form>
    </div>

    @if (successMessage() || errorMessage()) {
        @if (showSubmitPopup()) {
            <div class="popup-overlay" (click)="closeSubmitPopup()">
                <div class="popup" [class.success]="!!successMessage()" [class.warning]="!successMessage()" (click)="$event.stopPropagation()">
                    <h2>{{ successMessage() ? 'Success!' : 'Error' }}</h2>
                    <p>{{ successMessage() || errorMessage() }}</p>
                    <button (click)="closeSubmitPopup()">OK</button>
                </div>
            </div>
        }
    }
</div>