@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:host {
    display: block;
    min-height: 100vh;
    background-color: #ebebeb;
}

.registration-form {
    position: absolute;
    display: flex;
    border: solid 0px;
    width: 30%;
    margin-left: 45%;
    margin-top: 3%;
    padding: 25px;
    height: 500px;
    border-radius: 30px;
    z-index: 1;
    background-color: #6cdbb9;
}

.registration-form label {
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #02542d;
    margin: 15px 0 5px 0;
    
    &::after {
        content: " *";
        color: #ff0000;
    }
}

.registration-form input {
    margin-left: 10%;
    width: 200%;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    margin: 5px 0 0 0;
    
    &:invalid {
        border-color: #ff6b6b;
    }

    &:focus {
        outline: none;
        border-color: #3e7b69;
        box-shadow: 0 0 0 3px rgba(62, 123, 105, 0.2);
    }
}

.registration-form span {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: bolder;
    color: #034626;
    margin-top: 10px;
    margin-left: 3%;

}

.submit-class {
    margin-top: 30px;
    width: 200%;
    
    button {
        margin-left: 10%;
        width: 100%;
        padding: 12px;
        border: none;
        border-radius: 8px;
        background-color: #3e7b69;
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        color: white;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease;
        
        &:hover {
            background: #2e5d4f;
            transform: translateY(-1px);
        }
        
        &:active {
            transform: translateY(0);
        }
    }
}

.cancel-button {
    margin-top: 15px;
    width: 200%;
    
    button {
        margin-left: 10%;
        width: 100%;
        padding: 12px;
        border: none;
        border-radius: 8px;
        background-color: #172e27;
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        color: white;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease;
        
        &:hover {
            background: #0f1d1a;
            transform: translateY(-1px);
        }
        
        &:active {
            transform: translateY(0);
        }
    }
}

.seperator-class {
    position: absolute;
    z-index: 3;
    border: solid 0px;
    width: 2%;
    margin-left: 41.9%;
    margin-top: 3%;
    padding: 20px;
    z-index: 3;
    height: 510px;
    background-color: #478f79;
}

.logo-class {
    position: absolute;
    z-index: 3;
    border: solid 0px;
    width: 22%;
    margin-left: 20%;
    margin-top: 3%;
    padding: 20px;
    z-index: 4;
    height: 510px;
    background-color: #478f79;
    border-radius: 20px;
}

.logo-class h1 {
    text-align: center;
    color: white;
    margin-left: 13%;
    margin-top: 15%;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

.logo-class img {
    margin-top: 10%;
    width: 90%;
    margin-left: 12%;
}

.required-input,
.registration-form div > span {
    color: #ff0000;
    font-size: 12px;
    margin: 4px 0 0 0;
    font-weight: 500;
    display: block;
    min-height: 18px;
}

