@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:host {
    display: block;
    height: 100vh;
    background-color: #d8f3dc;
}

.header-class {
    position: absolute;
    display: block;
    border: solid 0px;
    width: 72%;
    height: 20%;
    margin-left: 5%;
    margin-top: 3%;
    border-radius: 20px;
    background-color: #3dac78;
    box-shadow: 0 4px 6px rgba(27, 26, 26, 0.5);
}

.username-class {
    margin-top: 4%;
    margin-left: 4%;
    color: white;
    font-family: "Albert Sans", sans-serif;
}

.username-class h1 {
    font-size: 48px;
}

.user-id-class {
    margin-top: 2%;
    margin-left: 4%;
    color: #185e3d;
    font-family: "Albert Sans", sans-serif;
}

.user-id-class h4 {
    font-size: 18px;
    font-weight: 1000;
}

.button-class {
    position: absolute;
    display: block;
    margin-top: -7.5%;
    margin-left: 80%;
}

.edit-profile-class button {
    cursor: pointer;
    border: solid 0px;
    font-size: 17px;
    width: 170px;
    height: 40px;
    padding: 5px;
    color: white;
    font-family: "Inter", sans-serif;
    background-color: #287c55;
    border-radius: 10px;
    font-weight: bolder;

}

.settings-profile-class {
    margin-top: 10%;
}

.settings-profile-class button {
    cursor: pointer;
    border: solid 0px;
    font-size: 17px;
    width: 170px;
    height: 40px;
    padding: 5px;
    color: white;
    font-family: "Inter", sans-serif;
    background-color: #16dc81;
    border-radius: 10px;
    font-weight: bolder;
}

.edit-profile-class button:hover {
    background-color:  #174d34;
    transition: 1s;
}

.settings-profile-class button:hover {
    background-color: #11a861;
    transition: 1s;
}

.milestone-class {
    position: absolute;
    display: flex;
    margin-top: 17%;
    margin-left: 6%;
}

.milestones-header h1 {
    color: #02542d;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.quiz-class {
    margin-top: 30%;
    position: absolute;
    display: block;
    border: solid 0px;
    width: 800px;
    height: 70px;
    background-color: #2a7954;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 4px 6px rgba(27, 26, 26, 0.5);

}

.study-sets-class {
    margin-top: 100%;
    display: block;
    position: absolute;
    border: solid 0px;
    width: 800px;
    height: 70px;
    background-color: #2a7954;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 4px 6px rgba(27, 26, 26, 0.5);


}

.total-like-class {
    margin-top: 175%;
    display: block;
    position: absolute;
    border: solid 0px;
    width: 800px;
    height: 70px;
    background-color: #2a7954;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 4px 6px rgba(27, 26, 26, 0.5);


}

.quiz-class p {
    color: white;
    font-family: "Poppins", sans-serif;
    margin-left: 3%;
    margin-top: 3%;
    font-size: 25px;
}

.study-sets-class p {
    color: white;
    font-family: "Poppins", sans-serif;
    margin-left: 3%;
    margin-top: 3%;
    font-size: 25px;
}

.total-like-class p {
    color: white;
    font-family: "Poppins", sans-serif;
    margin-left: 3%;
    margin-top: 3%;
    font-size: 25px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}