<div class="header-class">
    <div class="username-class">
        <h1>John Doe</h1>
    </div>

    <div class="user-id-class">
        <h4>User ID: 12321323</h4>
    </div>

    <div class="button-class">
        <div class="edit-profile-class">
            <button type="button" (click)="editProfile()">Edit Profile</button>
        </div>

        <div class="settings-profile-class">
            <button type="button" (click)="accountSetting()">Settings</button>
        </div>  
    </div>
</div>

<div class="milestone-class">
    <div class="milestones-header">
        <h1>Milestones: </h1>
    </div>

    <div class="quiz-class">
        <p>Quizzes: </p>
    </div>

    <div class="study-sets-class">
        <p>Study Sets (Flashcards): </p>
    </div>

    <div class="total-like-class">
        <p>Total Likes: </p>
    </div>
</div>

@if (showEditModal) {
    <div class="modal-overlay" (click)="closeModal()">
        <div (click)="$event.stopPropagation()">
            <app-edit-profile-page></app-edit-profile-page>
        </div>
    </div>
}

@if (showEditModal) {
    <div class="modal-overlay" (click)="closeModal()">
        <div (click)="$event.stopPropagation()">
            <app-edit-profile-page (onCancel)="closeModal()"></app-edit-profile-page>
        </div>
    </div>
}