<div class="header-class">
    <div class="user-info">
        <h1 class="username">{{ currentUser?.username }}</h1>
        <p class="email">{{ currentUser?.email }}</p>
    </div>

    <div class="button-class">
        <button type="button" class="edit-profile-btn" (click)="editProfile()">Edit Profile</button>
        <button type="button" class="change-password-btn" (click)="accountSetting()">Change Password</button>
    </div>
</div>

<div class="milestone-section">
    <h1 class="milestones-header">Milestones</h1>

    <div class="milestone-cards">
        <div class="milestone-card">
            <span class="milestone-label">Quizzes Created</span>
            <span class="milestone-count">{{ quizzesCreated }}</span>
        </div>

        <div class="milestone-card">
            <span class="milestone-label">Flashcard Sets Created</span>
            <span class="milestone-count">{{ flashcardSetsCreated }}</span>
        </div>

        <div class="milestone-card">
            <span class="milestone-label">Total Likes</span>
            <span class="milestone-count">{{ totalLikes }}</span>
        </div>
    </div>
</div>


@if (showEditModal) {
    <div class="modal-overlay" (click)="closeModal()">
        <div (click)="$event.stopPropagation()">
            <app-edit-profile-page (onCancel)="closeModal()"></app-edit-profile-page>
        </div>
    </div>
}

@if (showAccountSettingsModal) {
    <div class="modal-overlay" (click)="closeModal()">
        <div (click)="$event.stopPropagation()">
            <app-account-settings (onCancel)="closeModal()"></app-account-settings>
        </div>
    </div>
}
