<app-nav-bar></app-nav-bar>

<div class="container">
    <div class="logo-class">
        <div class="header-class">
            <h1>Your Study Journey Starts Here!</h1>
        </div>

        <div class="image-class">
            <img src="assets/toga.png" alt="Logo">
        </div>
    </div>

    <div class="seperator-class"></div>

    <div class="login-form">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <!-- Email -->
            <div class="email-class">
                <div><label>Email</label></div>
                <input formControlName="email" type="text" placeholder="Email">

                @if (emailControl?.touched) {
                    @if(emailControl?.errors?.['required']) {
                        <div><span>Enter your email</span></div>
                    } @else if (emailControl?.errors?.['email']) {
                        <div><span>Invalid email format</span></div>
                    }
                }
            </div>

            <!-- Password -->
            <div class="password-class">
                <div><label>Password</label></div>
                <input formControlName="password" type="password" placeholder="Password">

                @if (passwordControl?.touched) {
                    @if(passwordControl?.errors?.['required']) {
                        <div><span>Input a password</span></div>
                    }
                }
            </div>

            <!-- Loading -->
            @if (isLoading) {
                <div class="loading-message"><span>Logging in...</span></div>
            }

            <!-- Success -->
            @if (successMessage) {
                <div class="success-message"><span>{{ successMessage }}</span></div>
            }

            <!-- Error -->
            @if (errorMessage) {
                <div class="error-message"><span>{{ errorMessage }}</span></div>
            }

            <!-- Forgot password -->
            <div class="forgot-password">
                <a routerLink="/forgot-password">Forgot Password</a>
            </div>

            <!-- Login button -->
            <div class="login-button">
                <button type="submit" [disabled]="!loginForm.valid || isLoading">Login</button>
            </div>

            <!-- Register link -->
            <div class="register-class">
                <p>Don't have an account? <a routerLink="/registration">Register</a></p>
            </div>
        </form>
    </div>
</div>