@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// background-color: #d1ffdd;
h1 {
    position: absolute;
    display: block;
    margin-top: 5%;
    margin-left: 20%;
    font-family: "Poppins";
}

#upper_div {
    position: absolute;
    display: block;
    margin-top: 8%;
    margin-left: 19%;
    display: flex;
}

#username {
    font-weight: 500;
}

.upper-div-content {
    padding: 20px;
    margin: auto;
    font-family: "Poppins";
}

.upper-div-content img {
    height: 150px;
}

#edit_profile_button {
    border: solid 0px;
    background: #3fc28b;
    color: white;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 18px;
    width: 100%;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
}

#edit_profile_button:hover {
    transition: background 0.3s ease;
    background: #297b59;
}

#mid_nav {
    position: absolute;
    display: block;
    margin-top: 20%;
    margin-left: 21%;
    display: flex;
    font-family: "Poppins";
    color: #297b59;
    font-weight: 400;
}

#mid_nav .mid_nav_content {
    margin: 20px;
}

.mid_nav_content {
    transition: color 0.3s ease;
}

.mid_nav_content:hover {
    cursor: pointer;
    color: #49d89a;
}

#account_settings {
    position: absolute;
    display: block;
    margin-top: 25%;
    margin-left: 21%;
    width: 40%;
    height: 40%;
}

#password_management {
    margin-left: 5%;
    width: 70%;
    height: 55%;
    font-family: "Poppins";
    background-color: rgb(224, 224, 224);;
    border-radius: 20px;
    padding: 15px;
}

.inputs {
    display: block;
    margin: 10px 0 0 10px;
    padding: 10px;
    width: 90%;
    border-radius: 10px;
}

#cancel_button, #save_button {
    font-family: "Poppins";
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    background-color: green;
    color: white;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
}

.button-container {
    text-align: right;
    margin-top: 10px;
}


#cancel_button {
    background-color: red;
}

#save_button{
    background-color: green;
}

#data_privacy {
    width: 50%;
    height: 40%;
    margin-left: 5%;
    margin-top: 10px;
    font-family: "Poppins";
    background-color: rgb(224, 224, 224);;
    border-radius: 20px;
    padding: 10px;
}

#delete_account_button {
    font-family: "Poppins";
    width: 80%;
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 10px;
    margin-left: 10%;
    margin-top: 15px;
}

#delete_warning {
    font-size: 0.7rem;
    color: red;
    font-weight: 300;
    margin-top: 15px;
}