@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.personal-information-class {
    border: solid 0px;
    height: 350px;
    width: 100%;
    padding: 30px;
    background-color: #b4ddba;
    border-radius: 15px;
    box-shadow: 0 10px 40px rgba(27, 26, 26, 0.5);
    animation: modalSlideIn 0.3s ease-out;
}

@keyframes modalSlideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.form-group {
    margin-left: 5%;
}

.personal-label {
    color: #1f8b58;
}

.personal-label h1 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.username-class {
    margin-top: 5%;
}

.username-label label {
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 200;
}

.email-class {
    margin-top: 2%;
}

.email-label label {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 200;
}

.username-class input, .email-class input{
    margin-top: 2%;
    border: solid 0px;
    width: 90%;
    height: 30px;
    padding: 5px;
    border-radius: 10px;
}

.button-class {
    display: flex;
    margin-top: 10%;
    margin-left: 5%;
    gap: 20px;
}

#submit_button {
    cursor: pointer;
    color: white;
    border: solid 0px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: #287c55;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: bold;
}

#cancel_button {
    cursor: pointer;
    color: white;
    border: solid 0px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: #16dc81;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: bold;
}

#submit_button:hover {
    cursor: pointer;
    background-color:  #174d34;
    transition: 1s;
}

#cancel_button:hover {
    cursor: pointer;
    background-color: #11a861;
    transition: 1s;
}