<div class="forgot-password-class">
    <div class="forgot-password-label">
        <h1>Forgot Password</h1>
    </div>

    @if (successMessage()) {
        <div class="success-message">
        <span>{{ successMessage() }}</span>
        </div>
    }

    @if (errorMessage()) {
        <div class="error-message">
        <span>{{ errorMessage() }}</span>
        </div>
    }

    @if (isLoading()) {
        <div class="loading-overlay">
        <div class="spinner"></div>
        <p>Saving...</p>
        </div>
    }

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
        <div class="form-group">

            <div class="email-class">
                <div class="email-label">
                    <label>Email:</label>
                </div>
                <input type="text" formControlName="email" placeholder="Johndoe@gmail.com">

                @if (emailControl?.touched) {
                    @if (emailControl?.errors?.['required']) {
                        <div>
                            <span>Email is required</span>
                        </div>
                    } @else if (emailControl?.errors?.['email']) {
                        <div>
                            <span>Invalid email</span>
                        </div>
                    }
                }
            </div>

            <div class="new-pass-class">
                <div class="new-pass-label">
                    <label>New Password</label>
                </div>
                <input type="password" formControlName="newPassword">

                @if (newPasswordControl?.touched) {
                    @if (newPasswordControl?.errors?.['required']) {
                        <div>
                            <span>New password is required</span>
                        </div>
                    }
                    @if (newPasswordControl?.errors?.['minlength']) {
                        <div>
                            <span>Password must be at least 6 characters</span>
                        </div>
                    }
                }
            </div>

            <div class="confirm-pass-class">
                <div class="confirm-pass-label">
                    <label>Confirm Password</label>
                </div>
                <input type="password" formControlName="confirmPassword">

                @if (confirmPasswordControl?.touched) {
                    @if (confirmPasswordControl?.errors?.['required']) {
                        <div>
                            <span>Confirm password is required</span>
                        </div>
                    }

                    @if (confirmPasswordControl?.value !== newPasswordControl?.value && confirmPasswordControl?.value) {
                        <div>
                            <span>Password is not match</span>
                        </div>
                    }
                }
            </div>

        </div>

        <div class="button-class">
            <button
                type="submit"
                id="submit_button"
                [disabled]="forgotPasswordForm.invalid || isLoading()">
                {{ isLoading() ? 'Saving...' : 'Save' }}
            </button>

            <button
                type="button"
                id="cancel_button"
                (click)="cancel()"
                [disabled]="isLoading()">
                Cancel
            </button>
        </div>
    </form>

    @if (showSuccessPopup()) {
        <div class="popup-overlay">
            <div class="popup">
                <h2>Success</h2>
                <p>{{ successMessage() }}</p>
                <button (click)="closeSuccessPopup()">OK</button>
            </div>
        </div>
    }

</div>